.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p, h2, h4, h5, h6, a, li, ul {
  font-family: Montserrat, sans-serif;
}
h1, h3 {
  font-family: Kanit, sans-serif;
  color: #e1f7fc !important;
}
p {
  line-height: 1;
  font-weight: 200;
  font-size: 20px;
}
.navbar {
  border-radius: 0 0 15px 15px !important;
  background: rgba(178, 249, 252, 0.99);
}
.nav-link {
  background: orangered;
  color: #090000 !important;
  font-size: 17px !important;
}
.navbrand {
  font-size: 25px !important;
  font-weight: bold;;
}
.navbar-brand {
  color: #fc4444 !important;
  font-weight: bolder;
  font-size: 25px !important;
}
.form-label {
  font-size: 20px !important;
}
.card {
  background: rgba(107, 98, 2, 0.15) !important;
  border-radius: 20px !important;
}
.badge-right {
  margin-left: auto;
}
.header-text {
  color: #3b0264;
}
.offcanvas {
  background-image: linear-gradient(#c5e5fc, #ecf5f5);
}
.first-row {
  padding-bottom: 100px;
  background-image: linear-gradient(rgba(250, 4, 16, 0.99), rgba(245, 245, 245, 0));
}
.custom-accordion-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
